<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array/>
	<key>New item</key>
	<dict>
		<key>assets</key>
		<array>
			<dict>
				<key>kind</key>
				<string>software-package</string>
				<key>url</key>
				<string>http://6wx8n8.natappfree.cc/app/%E7%BB%BC%E5%90%88%E4%BA%8B%E5%8A%A1%E7%AE%A1%E7%90%86.ipa</string>
			</dict>
			<dict>
				<key>kind</key>
				<string>full-size-image</string>
				<key>needs-shine</key>
				<true/>
				<key>url</key>
				<string>https://enterprise.cloudpay.com.cn/app/packages/iphone-2x.png</string>
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>bundle-identifier</key>
			<string>BT.Avanker</string>
			<key>bundle-version</key>
			<string>1.0</string>
			<key>kind</key>
			<string>software</string>
			<key>title</key>
			<string>这里写下你的包名称</string>
		</dict>
	</dict>
</dict>
</plist>
